# EmailJS Configuration
# Get these credentials from your EmailJS Dashboard (https://dashboard.emailjs.com/)

VITE_EMAILJS_SERVICE_ID=service_jyo316o
VITE_EMAILJS_TEMPLATE_ID=template_lv52gwr
VITE_EMAILJS_PUBLIC_KEY=JamiktDAn7r1EVqyQdrIH
